.post-list-search{
    padding: 5px;
    border-radius: .5em;
    outline: none;
    border: 1px solid #999;
}

.filter-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}