.post-list-search{
    padding: 5px;
    border-radius: .5em;
    outline: none;
    border: 1px solid #999;
}

.filter-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 7px;
    row-gap: 10px;
    padding: 10px;
    border: 1px solid #BBB;
}

.selectable-chip label{
    background: #EEE;
    padding: 1px 10px 2px 10px;
    font-size: .8em;
    border-radius: 10px;
    cursor: pointer;
}

.selectable-chip input[type=checkbox]:checked + label{
    background: #7cbce4;
}

.selectable-chip input[type=checkbox]{
    display: none;
}

.tag-chip-container{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
