.filter-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 7px;
    row-gap: 10px;
    padding: 10px;
}

.selectable-chip label{
    background: #EEE;
    padding: 3px 13px 4px 13px;
    font-size: .8em;
    border-radius: 10px;
    cursor: pointer;
}

.selectable-chip input[type=checkbox]:checked + label{
    background: #000;
    color: #FFF;
}

.selectable-chip input[type=checkbox]{
    display: none;
}

.tag-chip-container{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}
