.pagination-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pagination-button{
    border-radius: .5em;
    border: 1px solid #999;
    background: transparent;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
}