.post-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.post-image{
    max-height: 20vw;
    overflow: hidden;
    border-radius: .5em;

    img{
        width: 100%;
        object-fit: contain;
    }
}

.post-content{
    text-align: justify;
}