.post-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.post-header{
    position: relative;
    height: 25vh;
    border-radius: .5em;
    overflow: hidden;
    min-height: 100px;
}


.post-header-image{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;    
    z-index: 1;

    img{
        width: 100%;
        object-fit: contain;
    }
}

.post-header-opacity{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #000;
    opacity: .2;
    z-index: 2;
}

.post-header-content{
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    color: #FFF;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    padding: 20px;
}

.post-content{
    text-align: justify;
}

.toolbarClassName{
    display: none;
}