.author-container{
    background: #EEE;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    column-gap: 30px;
    border-radius: .5em;

    h3{
        margin: 0;
    }
}

.author-image-container{
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50%;

    img{
        width: 100%;
        height: 100%;
    }
}

.author-content-container{
    flex-grow: 1;
}