.root-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    max-width: 900px;
    flex-grow: 1;
    padding: 2em;
}