.comment {
    display: flex;
    flex-direction: column;
}

.subcomments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.subcomments-padding {
    padding-left: 70px;
}

.comment-content{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.comment-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment-author {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
