body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFF;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.simple-button{
  border-radius: 1em;
  border: 1px solid #999;
  background: transparent;
  cursor: pointer;
  padding: 5px 10px;
}

.simple-button:hover{
  background: #EEE;
}

.simple-select {
  border-radius: .5em;
  border: 1px solid #999;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  outline:none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
