.post-list-container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
    flex-grow: 1;
    column-gap: 1em;
}

.post-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.title-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}