.post-list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 10px;
}

.post-list-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 20px;
}

.post-list-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-grow: 1;
}

.post-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.title-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.post-list-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}